# Dependency directories
node_modules
.pnpm

# Build output
dist

# Vite files
vite.config.ts


# commmitlint
commitlint.config.cjs

# Test files
**/__tests__/*
**/*.test.ts
**/*.test.tsx

# Storybook files
**/*.stories.tsx
